* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --default-font-size: 1.5rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--default-font-size);
  font-family: "League Spartan", sans-serif;
  padding: 2rem;
  min-height: 100vh;
  position: relative;
}

body::before,
body::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
}

body::before {
  top: 0;
  left: 0;
  background-position: top right;
  background-image: url("./images/bg-pattern-top-desktop.svg");
}

body::after {
  bottom: 0;
  right: 0;
  background-position: top left;
  background-image: url("./images/bg-pattern-bottom-desktop.svg");
}

main {
  max-width: 140rem;
  margin: auto;
  padding: 10rem 4rem;
}

section {
  display: flex;
  align-items: center;
}

section:first-of-type {
  margin: 0 0 10rem;
  justify-content: space-between;
}

section:last-of-type {
  gap: 4rem;
}

.header {
  max-width: 40rem;
}

.header__title {
  color: var(--dark-magenta);
  font-size: 5rem;
  font-weight: 700;
}

.header__description {
  margin: 4rem 0 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-grayish-magenta);
}

.rating__testimonial {
  padding: 2rem 12rem 2rem 4rem;
  background: var(--light-grayish-magenta);
  border-radius: 0.5rem;
  margin: 2rem 0 0 0;
}

.rating__testimonial:first-of-type {
  transform: translateX(-20%);
}

.rating__testimonial:nth-of-type(2) {
  transform: translateX(-10%);
}

.rating__testimonial > img {
  vertical-align: bottom;
}

.rating__testimonial-source {
  margin-inline-start: 2rem;
  font-weight: 700;
  color: var(--dark-magenta);
}

.review-card {
  color: var(--white);
  padding: 4rem 4rem 2rem;
  border-radius: 1rem;
  background-color: var(--dark-magenta);
}

.review-card:nth-of-type(2) {
  transform: translateY(10%);
}

.review-card:last-of-type {
  transform: translateY(20%);
}

.review-card__header {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.review-card__header-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.review-card__header-name {
  font-size: 2rem;
  font-weight: 700;
}

.review-card__header-info {
  margin: 0.5rem 0 0;
  color: var(--soft-pink);
}

blockquote {
  line-height: 1.5;
  margin: 4rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(300, 24%, 96%);
}

@media (max-width: 1350px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 999px) {
  html {
    font-size: 60%;
  }

  body::before {
    width: 100%;
    background-image: url("./images/bg-pattern-top-mobile.svg");
  }

  body::after {
    width: 100%;
    background-image: url("./images/bg-pattern-bottom-mobile.svg");
  }

  section {
    flex-direction: column;
  }

  section:first-of-type {
    gap: 4rem;
  }

  .header {
    text-align: center;
    max-width: 100%;
  }

  aside {
    width: 100%;
  }

  .rating__testimonial {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .rating__testimonial:nth-of-type(2) {
    transform: translateX(0);
  }

  .rating__testimonial:first-of-type {
    transform: translateX(0);
  }

  .review-card:nth-of-type(2) {
    transform: translateY(0);
  }

  .review-card:last-of-type {
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  main {
    padding: 10rem 2rem;
  }
}
